body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 0;
}
input, button {
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}
button {
    cursor: pointer;
    background-color: #4CAF50; /* Green */
    color: white;
    border: none;
}
button:hover {
    background-color: #45a049;
}
.card {
    border: 1px solid #ddd;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    background-color: #f9f9f9;
}
.footer {
    margin-top: 20px;
    text-align: center; /* Center aligning the buttons */
}