<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>View Insurance by Coverage amount</title>
</head>
<body>
<div class="container">
    <div class="row justify-content-center">
        <p id="status" class="display-6 text-center text-primary"></p>
        <div class="p-5 m-5 rounded-5 shadow">
            <div class="form group">
                <label>Insurance minimum coverage</label>
                <input type="number" id="minCoverage" class="form-control" placeholder="minimum coverage" /></br>
            </br> <label>Insurance maximum coverage</label>
                <input type="number" id="maxCoverage" class="form-control" placeholder="minimum coverage" />
            </div>
            <div class="policyContainer"></div>
            <div class="m-5 row justify-content-around">
                <button id="search" class="col-1 btn btn-outline-primary" onclick="filterPolicies()">Search</button>
            </div>
        </div>
        <div class="container">
<!--            <div class="row justify-content-around" id="viewSection">-->

<!--            </div>-->
        </div>
    </div>
</div>
<script src="script.js"></script>

</body>
</html>